#myprojects {
    text-align: center;
    color: white; 
}
nav a {
    display: inline-block;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#topbar2 {
    margin: -64px 0;
    position: fixed;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#topbar2:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
}